script.json
{
  "name": "AI Reels Factory",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key=YOUR_GEMINI_API_KEY_HERE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"text\":\"Write a 30-second Instagram Reel script for frontend development tips. Format exactly:\\n\\nHOOK:\\nPOINT 1:\\nPOINT 2:\\nPOINT 3:\\nCTA:\\n\\nKeep it simple, engaging, English only. Niche: frontend tips #webdev #coding\"}]}]"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-ai",
      "name": "Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse Gemini response\nconst response = $input.first().json;\nconst scriptText = response.candidates?.[0]?.content?.parts?.[0]?.text || 'Default script';\n\n// Extract structured data\nconst lines = scriptText.split('\\n').map(l => l.trim()).filter(Boolean);\nconst hook = lines.find(l => l.includes('HOOK'))?.replace(/HOOK:?:?\\s*/i, '') || lines[0];\nconst points = lines.filter(l => l.match(/POINT\\s+\\d+/i)).slice(0,3).map(p => p.replace(/POINT\\s+\\d+:?:?\\s*/i, ''));\nconst cta = lines.find(l => l.includes('CTA'))?.replace(/CTA:?:?\\s*/i, '') || lines[lines.length-1];\n\nconst caption = `${hook}\\n\\n${points.join('\\n')}\\n\\n${cta} #frontend #webdev #tips #reels #shorts`;\n\nreturn {\n  full_script: scriptText,\n  title: hook,\n  caption: caption,\n  hashtags: '#frontend #webdev #tips',\n  points: points,\n  duration: '25s'\n};"
      },
      "id": "parse-script",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fileName": "=C:\\ai_reels\\scripts\\reel_{{ $now.format('YYYYMMDD_HHmmss') }}.txt",
        "dataPropertyName": "full_script"
      },
      "id": "write-script",
      "name": "Save Script File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "command": "python C:\\\\ai_reels\\\\make_reel.py \"C:\\\\ai_reels\\\\scripts\\\\reel_{{ $('Save Script File').item.json.fileName.split('\\\\').pop() }}\" \"C:\\\\ai_reels\\\\videos\""
      },
      "id": "make-video",
      "name": "Generate Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Parse Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script": {
      "main": [
        [
          {
            "node": "Save Script File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Script File": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
